<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barbara-BB</title>
    <link rel="stylesheet" href="css/estilos.css" />
</head>
<body>
<header>
    <nav>

        <a class="logo" href="/">Barbara-BB</a>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li><a href="/">Início</a></li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/projeto">Projetos</a></li>
            <li><a href="/contato">Contato</a></li>
        </ul>
    </nav>

</header>
<main>
