<%# A linha abaixo carrega no template o conteúdo total do arquivo header.ejs%>
<%-include('base_header') -%>
<%# A linha abaixo carrega no template de base_foto.ejs%>
<%-include('base_foto') -%>
<%# A linha abaixo carrega no template de base_blocom.ejs%>
<%-include('base_blocom') -%>

<div id="texto_contato">
    <p><a href=mailto:barbarabidetti@gmail.com><img src="https://img.shields.io/badge/Gmail-D14836?style=for-the-badge&logo=gmail&logoColor=white" /></a></p>
    <p><a href="https://github.com/Barbara-BB"><img src = "https://img.shields.io/badge/github-black.svg?&style=for-the-badge&logo=github&logoColor=white"></a></p>
    <p><a href="https://www.linkedin.com/in/barbara-bb-bb910a1b3"><img src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white" /></p>
</div>

<%# A linha abaixo carrega no template o conteúdo total do arquivo footer.ejs %>
<%- include('base_footer') -%>