
<%# A linha abaixo carrega no template de base_foto.ejs%>
<%-include('base_foto') -%>
<%# A linha abaixo carrega no template de base_blocom.ejs%>
<%-include('base_blocom') -%>

    <div id="texto">
        <h2>Seja bem vindo(a) ao meu portfólio!</h2>
        <p>Aqui você encontra informações sobre mim e meus projetos. </p>
        <p>Se quiser, é só falar comigo pelos Contatos. </p>
    </div>


